/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: flex;
	flex-direction: column;
}

.main-con {
	height: 100%;
	position: relative;
}

.error-text {
	color: red;
	text-align: center;
}

.modal-title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}


.modal-con {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-focus {
	background-color: hsla(0, 0%, 0%, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.modal {
	background-color: white;
	min-width: max-content;
	padding: 50px;
	border-radius: 25px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0);
	
}

.modal-input {
	border: 1px solid rgba(88, 88, 88, 0.5);
	background-color: rgb(230 255 250);
	padding: 10px 20px;
	width: 350px;
}

textarea.modal-input {
	min-height: fit-content;
	max-height: 200px;
} 

.modal-input::placeholder {
	color: #000000;
}

.modal-btn,
.modal-input {
	border-radius: 25px;
}

.modal-btn {
	margin-top: 15px;
	width: 75%;
	padding: 10px 25px;
	background-color: rgb(199, 241, 190);
}

.plan-con {
	width: 100%;
	height: 100%;
	padding: 50px;
}

.plan-card { 
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	height: 250px;
	width: 250px;
}