/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-con {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-text {
	color: red;
	text-align: center;
}

.modal-title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.modal-con {
	min-width: max-content;
	padding: 50px;
	border-radius: 25px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0);
}

.modal-input {
	border: 1px solid rgba(88, 88, 88, 0.5);
	background-color: rgb(230 255 250);
	padding: 10px 20px;
}

.modal-input::placeholder {
	color: #000000;
}

.modal-btn,
.modal-input {
	border-radius: 50px;
}

.modal-btn {
	margin-top: 15px;
	width: 75%;
	padding: 10px 25px;
	background-color: rgb(199, 241, 190);
}